@page
@inject UserManager<IdentityUser> UserManager
@{
    @* This statement sets the ActivePage view data property that the ManageNavPages.PageNavClass method uses to determine which page has been selected. This works with the preparations made at the start of this section to highlight the link for the StoreData page, as shown in the figure. *@
    ViewData["ActivePage"] = ManageNavPages.StoreData;
    @* gets an object that describes the signed-in user *@
    IdentityUser user = await UserManager.GetUserAsync(User);
}

<div>
<h2>Store Data</h2>
<table class="table table-sm table-bordered table-striped">
    <thead>
        <tr><th>Property</th><th>Value</th></tr>
    </thead>
    <tbody>
        @foreach (var prop in typeof(IdentityUser).GetProperties()) {
                <tr>
                    <td>@prop.Name</td>
                    <td>@prop.GetValue(user)</td>
                </tr>
        }
    </tbody>
</table>

</div>
